openapi: 3.1.0
info:
  title: VeilChain API
  description: |
    Append-only Merkle tree ledger service for cryptographic audit trails.

    VeilChain provides a tamper-evident ledger with cryptographic proofs of inclusion.
    Each entry is hashed and added to a Merkle tree, allowing efficient verification
    that data has not been modified.

    ## Authentication

    VeilChain supports two authentication methods:

    1. **API Key** - Pass your API key in the `X-API-Key` header
    2. **JWT Token** - Pass your JWT token in the `Authorization: Bearer <token>` header

    ## Public Endpoints

    Endpoints under `/v1/public/*` do not require authentication and can be used
    by anyone to verify ledger state and proofs.
  version: 1.0.0
  contact:
    name: VeilChain Support
    url: https://veilchain.io/support
    email: support@veilchain.io
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.veilchain.io
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Ledgers
    description: Ledger management operations
  - name: Entries
    description: Entry operations (append, retrieve, list)
  - name: Proofs
    description: Merkle proof operations
  - name: Public
    description: Public endpoints (no authentication required)
  - name: Auth
    description: Authentication operations
  - name: Health
    description: Health check endpoints

security:
  - ApiKeyAuth: []
  - BearerAuth: []

paths:
  /health:
    get:
      tags: [Health]
      summary: Health check
      security: []
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum: [ok, degraded, error]
                  version:
                    type: string
                  uptime:
                    type: number
                  timestamp:
                    type: string
                    format: date-time

  /v1/ledgers:
    get:
      tags: [Ledgers]
      summary: List ledgers
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: List of ledgers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLedgersResponse'

    post:
      tags: [Ledgers]
      summary: Create a new ledger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLedgerRequest'
      responses:
        '201':
          description: Ledger created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ledger'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/ledgers/{ledgerId}:
    parameters:
      - $ref: '#/components/parameters/LedgerId'

    get:
      tags: [Ledgers]
      summary: Get ledger by ID
      responses:
        '200':
          description: Ledger metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ledger'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Ledgers]
      summary: Delete a ledger
      responses:
        '204':
          description: Ledger deleted
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/ledgers/{ledgerId}/root:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
    get:
      tags: [Ledgers]
      summary: Get current root hash
      responses:
        '200':
          description: Current root hash
          content:
            application/json:
              schema:
                type: object
                properties:
                  rootHash:
                    type: string
                  entryCount:
                    type: string
                  lastEntryAt:
                    type: string
                    format: date-time

  /v1/ledgers/{ledgerId}/entries:
    parameters:
      - $ref: '#/components/parameters/LedgerId'

    get:
      tags: [Entries]
      summary: List entries in a ledger
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 1000
      responses:
        '200':
          description: List of entries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListEntriesResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags: [Entries]
      summary: Append an entry to a ledger
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppendEntryRequest'
      responses:
        '201':
          description: Entry appended
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppendEntryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Duplicate entry (idempotency key already used)

  /v1/ledgers/{ledgerId}/entries/{entryId}:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
      - $ref: '#/components/parameters/EntryId'

    get:
      tags: [Entries]
      summary: Get an entry by ID
      parameters:
        - name: proof
          in: query
          description: Include Merkle proof
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Entry details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Entry'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/ledgers/{ledgerId}/entries/batch:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
    post:
      tags: [Entries]
      summary: Batch append entries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchAppendRequest'
      responses:
        '200':
          description: Batch append results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchAppendResponse'

  /v1/ledgers/{ledgerId}/proof/{entryId}:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
      - $ref: '#/components/parameters/EntryId'

    get:
      tags: [Proofs]
      summary: Get inclusion proof for an entry
      parameters:
        - name: format
          in: query
          description: Proof export format
          schema:
            type: string
            enum: [json, cbor, compact]
            default: json
      responses:
        '200':
          description: Merkle proof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProofResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/ledgers/{ledgerId}/proof/{entryId}/export:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Proofs]
      summary: Export proof with full metadata
      parameters:
        - name: includeData
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Exportable proof
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportableProof'

  /v1/ledgers/{ledgerId}/proof/{entryId}/qr:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
      - $ref: '#/components/parameters/EntryId'
    get:
      tags: [Proofs]
      summary: Generate QR code for proof verification
      parameters:
        - name: size
          in: query
          schema:
            type: integer
            default: 200
      responses:
        '200':
          description: QR code SVG
          content:
            image/svg+xml:
              schema:
                type: string

  /v1/verify:
    post:
      tags: [Proofs]
      summary: Verify a Merkle proof
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proof]
              properties:
                proof:
                  $ref: '#/components/schemas/MerkleProof'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyProofResponse'

  /v1/verify/compact:
    post:
      tags: [Proofs]
      summary: Verify a compact proof
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompactProof'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyProofResponse'

  /v1/public/ledgers/{ledgerId}/root:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
    get:
      tags: [Public]
      summary: Get current root hash (public)
      security: []
      responses:
        '200':
          description: Public root information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicRoot'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/public/ledgers/{ledgerId}/roots:
    parameters:
      - $ref: '#/components/parameters/LedgerId'
    get:
      tags: [Public]
      summary: Get historical roots (public)
      security: []
      parameters:
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: Historical roots
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicRootsResponse'

  /v1/public/verify:
    post:
      tags: [Public]
      summary: Verify a proof (public)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [proof]
              properties:
                proof:
                  $ref: '#/components/schemas/MerkleProof'
      responses:
        '200':
          description: Verification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifyProofResponse'

  /v1/webhooks:
    get:
      tags: [Webhooks]
      summary: List webhooks
      responses:
        '200':
          description: List of webhooks
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'

    post:
      tags: [Webhooks]
      summary: Create a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookRequest'
      responses:
        '201':
          description: Webhook created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

  /v1/webhooks/{webhookId}:
    parameters:
      - name: webhookId
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Webhooks]
      summary: Get webhook by ID
      responses:
        '200':
          description: Webhook details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Webhook'

    patch:
      tags: [Webhooks]
      summary: Update a webhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookRequest'
      responses:
        '200':
          description: Webhook updated

    delete:
      tags: [Webhooks]
      summary: Delete a webhook
      responses:
        '204':
          description: Webhook deleted

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    LedgerId:
      name: ledgerId
      in: path
      required: true
      schema:
        type: string
      description: Ledger ID

    EntryId:
      name: entryId
      in: path
      required: true
      schema:
        type: string
      description: Entry ID

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object

    Ledger:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        rootHash:
          type: string
        entryCount:
          type: string
        createdAt:
          type: string
          format: date-time
        lastEntryAt:
          type: string
          format: date-time
        schema:
          type: object

    CreateLedgerRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          maxLength: 255
        description:
          type: string
          maxLength: 1000
        schema:
          type: object

    ListLedgersResponse:
      type: object
      properties:
        ledgers:
          type: array
          items:
            $ref: '#/components/schemas/Ledger'
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer

    Entry:
      type: object
      properties:
        id:
          type: string
        position:
          type: string
        data:
          type: object
        hash:
          type: string
        createdAt:
          type: string
          format: date-time
        proof:
          $ref: '#/components/schemas/MerkleProof'

    AppendEntryRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
        idempotencyKey:
          type: string
        metadata:
          type: object

    AppendEntryResponse:
      type: object
      properties:
        entry:
          $ref: '#/components/schemas/Entry'
        proof:
          $ref: '#/components/schemas/MerkleProof'
        previousRoot:
          type: string
        newRoot:
          type: string

    ListEntriesResponse:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Entry'
        total:
          type: string
        offset:
          type: string
        limit:
          type: integer

    BatchAppendRequest:
      type: object
      required: [entries]
      properties:
        entries:
          type: array
          items:
            type: object
            properties:
              data:
                type: object
              idempotencyKey:
                type: string
              metadata:
                type: object

    BatchAppendResponse:
      type: object
      properties:
        results:
          type: array
          items:
            type: object
            properties:
              success:
                type: boolean
              entry:
                $ref: '#/components/schemas/Entry'
              proof:
                $ref: '#/components/schemas/MerkleProof'
              error:
                type: object
        summary:
          type: object
          properties:
            total:
              type: integer
            successful:
              type: integer
            failed:
              type: integer
        previousRoot:
          type: string
        newRoot:
          type: string

    MerkleProof:
      type: object
      required: [leaf, index, proof, directions, root]
      properties:
        leaf:
          type: string
          description: SHA-256 hash of the entry
        index:
          type: integer
          description: Position in the tree
        proof:
          type: array
          items:
            type: string
          description: Sibling hashes
        directions:
          type: array
          items:
            type: string
            enum: [left, right]
          description: Position of each sibling
        root:
          type: string
          description: Merkle root hash

    CompactProof:
      type: object
      required: [v, l, r, i, p, d]
      properties:
        v:
          type: integer
          description: Version
        l:
          type: string
          description: Leaf hash
        r:
          type: string
          description: Root hash
        i:
          type: integer
          description: Index
        p:
          type: string
          description: Concatenated proof hashes
        d:
          type: string
          description: Direction bits

    ProofResponse:
      type: object
      properties:
        proof:
          $ref: '#/components/schemas/MerkleProof'
        entry:
          type: object
          properties:
            id:
              type: string
            position:
              type: string
            hash:
              type: string
        verificationUrl:
          type: string

    ExportableProof:
      type: object
      properties:
        version:
          type: string
        format:
          type: string
        ledgerId:
          type: string
        entryId:
          type: string
        proof:
          $ref: '#/components/schemas/MerkleProof'
        entryHash:
          type: string
        entryData:
          type: object
        timestamp:
          type: string
        verificationUrl:
          type: string

    VerifyProofResponse:
      type: object
      properties:
        valid:
          type: boolean
        leaf:
          type: string
        root:
          type: string
        index:
          type: integer
        proofLength:
          type: integer
        error:
          type: string

    PublicRoot:
      type: object
      properties:
        ledgerId:
          type: string
        rootHash:
          type: string
        entryCount:
          type: string
        timestamp:
          type: string
        signature:
          type: string

    PublicRootsResponse:
      type: object
      properties:
        ledgerId:
          type: string
        roots:
          type: array
          items:
            type: object
            properties:
              rootHash:
                type: string
              entryCount:
                type: string
              timestamp:
                type: string
              signature:
                type: string
        total:
          type: integer
        offset:
          type: integer
        limit:
          type: integer

    Webhook:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        url:
          type: string
        events:
          type: array
          items:
            type: string
            enum: [root_change, entry_append, ledger_create, ledger_delete]
        ledgerIds:
          type: array
          items:
            type: string
        isActive:
          type: boolean
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    CreateWebhookRequest:
      type: object
      required: [name, url, events]
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        secret:
          type: string
        events:
          type: array
          items:
            type: string
            enum: [root_change, entry_append, ledger_create, ledger_delete]
        ledgerIds:
          type: array
          items:
            type: string
        headers:
          type: object
          additionalProperties:
            type: string

    UpdateWebhookRequest:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        secret:
          type: string
        events:
          type: array
          items:
            type: string
        ledgerIds:
          type: array
          items:
            type: string
        headers:
          type: object
